web/WEB-INF/wsdl/192.168.200.15_8080/JSLEEorchestrator/JSLEEorchestrator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="JSLEEorchestrator">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://192.168.200.15:8080/JSLEEorchestrator/JSLEEorchestrator?xsd=1"/>
</xsd:schema>
</types>
<message name="orchestrateService">
<part name="parameters" element="tns:orchestrateService"/>
</message>
<message name="orchestrateServiceResponse">
<part name="parameters" element="tns:orchestrateServiceResponse"/>
</message>
<message name="testBD">
<part name="parameters" element="tns:testBD"/>
</message>
<message name="deleteService">
<part name="parameters" element="tns:deleteService"/>
</message>
<message name="deleteServiceResponse">
<part name="parameters" element="tns:deleteServiceResponse"/>
</message>
<message name="getDeployedServices">
<part name="parameters" element="tns:getDeployedServices"/>
</message>
<message name="getDeployedServicesResponse">
<part name="parameters" element="tns:getDeployedServicesResponse"/>
</message>
<portType name="JSLEEorchestrator">
<operation name="orchestrateService">
<input wsam:Action="http://webservice/JSLEEorchestrator/orchestrateServiceRequest" message="tns:orchestrateService"/>
<output wsam:Action="http://webservice/JSLEEorchestrator/orchestrateServiceResponse" message="tns:orchestrateServiceResponse"/>
</operation>
<operation name="testBD">
<input wsam:Action="http://webservice/JSLEEorchestrator/testBD" message="tns:testBD"/>
</operation>
<operation name="deleteService">
<input wsam:Action="http://webservice/JSLEEorchestrator/deleteServiceRequest" message="tns:deleteService"/>
<output wsam:Action="http://webservice/JSLEEorchestrator/deleteServiceResponse" message="tns:deleteServiceResponse"/>
</operation>
<operation name="getDeployedServices">
<input wsam:Action="http://webservice/JSLEEorchestrator/getDeployedServicesRequest" message="tns:getDeployedServices"/>
<output wsam:Action="http://webservice/JSLEEorchestrator/getDeployedServicesResponse" message="tns:getDeployedServicesResponse"/>
</operation>
</portType>
<binding name="JSLEEorchestratorPortBinding" type="tns:JSLEEorchestrator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="orchestrateService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="testBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="deleteService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDeployedServices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="JSLEEorchestrator">
<port name="JSLEEorchestratorPort" binding="tns:JSLEEorchestratorPortBinding">
<soap:address location="http://192.168.200.15:8080/JSLEEorchestrator/JSLEEorchestrator"/>
</port>
</service>
</definitions>
