src/conf/xml-resources/web-service-references/JSLEEorchestrator/wsdl/192.168.200.15_8080/JSLEEorchestrator/JSLEEorchestrator.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="deleteService" type="tns:deleteService"/>

<xs:element name="deleteServiceResponse" type="tns:deleteServiceResponse"/>

<xs:element name="getDeployedServices" type="tns:getDeployedServices"/>

<xs:element name="getDeployedServicesResponse" type="tns:getDeployedServicesResponse"/>

<xs:element name="orchestrateService" type="tns:orchestrateService"/>

<xs:element name="orchestrateServiceResponse" type="tns:orchestrateServiceResponse"/>

<xs:element name="testBD" type="tns:testBD"/>

<xs:complexType name="deleteService">
<xs:sequence>
<xs:element name="serviceName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteServiceResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDeployedServices">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDeployedServicesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="testBD">
<xs:sequence>
<xs:element name="parameter" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orchestrateService">
<xs:sequence>
<xs:element name="JSONgraph" type="xs:string" minOccurs="0"/>
<xs:element name="ServiceName" type="xs:string" minOccurs="0"/>
<xs:element name="reconfiguration" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orchestrateServiceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
